@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html {
    font-size: 0.7vw;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Pretendard";
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 10vh;
    background-color: RGBA(33,37,41,var(--bs-bg-opacity,1));
}

.header_wrap {
    width: 95%;
    height: 100%;
    margin: auto;
    padding-left: 2%;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    border: 1px solid red;
    width: 10%;
    height: 100%;
}

.header_logout {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logout>svg:hover {
    fill: white;
    cursor: pointer;
}

.section {
    width: 100vw;
    height: 90vh;
    display: flex;
}

.navi {
    width: 15%;
    height: 100%;
    padding-top: 2%;
    background-color: white;
    border: 1px solid rgb(199, 197, 197);
}

.navi_profile {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}

.admin_profile {
    border-radius: 100%;
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.admin_profile svg:hover {
    fill: black;
}

.navi_bar {
    width: 100%;
    height: 80%;
    background-color: white;
}

.navi_bar>button {
    font-size: 1.3em;
}

.navi_btn {
    border-radius: 10px;
    border: none;
    display: block;
    width: 70%;
    height: 5%;
    margin: auto;
    margin-top: 10%;
    color: gray;
    font-weight: bold;
    font-size: 1em;
    background-color: white;
}

.navi_btn:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

.section_1 {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_1_wrap {
    width: 80%;
    height: 100%;
}

.section_1_title {
    width: 80%;
    height: 15%;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_1_title span{
    font-size: 2.5em; 
    font-family: "Pretendard";
    font-weight: 700;
}

.section_1_content {
    width: 100%;
    height: 80%;
}

.product_search_bar {
    width: 40%;
    height: 10%;
    display: flex;
    align-items: center;
}

#product-search-form * {
    font-size: 1.5em;
    display: inline;
}

#search-option {
    border-radius: 10px;

}

#search-bar {
    border-radius: 10px;
}

.bi-search {
    margin-left: 10px;
}

.bi-search:hover {
    fill: black;
    cursor: pointer;
}

.product_list {
    width: 80%;
    height: 100%;
}

.list-area {
    text-align: center;
    color: gray;
    width: 100%;
    height: 85%;
    font-size: 1.4em;
}
.list-area>thead>tr{
    border-top: 3px solid black;
    border-bottom: 2px solid black;
}
.list-area>thead>tr>th{
    height: 60px;
}
.list-area>tbody>tr:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

.paging-area>button {
    border: none;
    background-color: lightgray;
    color: gray;
    font-size: 1.5em;
}

.paging-area>button:hover {
    background-color: gray;
    color: black;
    cursor: pointer;
}