
.list-area{
    text-align:center;
    height: 510px;
    font-size: 18px;
    width: 73%;
    margin-left:400px;
    margin-top: 10px;
}
.list-area>tbody>tr:hover{
    background:gray;
    cursor:pointer;
}
.notice_search{
    width: 20%;
    position:relative;
    margin-top: 2%;
    margin-left:400px;
}
.notice_search_btn{
    position: relative;
    color:lightblue;
    margin-top: 2%;
    border: 1px solid lightgray;
}
.side-bar{
    width: 280px; 
    height:970px; 
    position: fixed; 
    z-index: 2;
}
.side-bar a{
  color:black;
}
.side-bar a:hover{
  color: gray;
}
.fs-4{
    margin-top:100px;
}
.img-notice{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 200px;
  margin-top: 3%;
}
.logimg{
  width: 220px;
  height: 100px;
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
}
.QA-title{
  width: 10%;
  height: 60px;
  margin-left:22%;
  font-size:40px;
  margin-top: 4%;
  color:lightgray;
}
.flex-shrink-0{
  background: rgba(255,255,255,.4); 
  z-index: 100;
  border-right: 1px solid rgba(0,0,0,.06);
}